.moviesList {
	margin: 3em 0 0;
	padding-left: 0;
	list-style: none;

	li {
		margin-bottom: 3em;
	}

	li:last-child {
		article {
			margin-bottom: 0;
		}
	}
}



.btn {
    background: #999fad;
    padding: 0.6em 0.9em;
    border-radius: 0.3em;
    text-transform: uppercase;
    color: black;
    font-size: 0.9em;
    border: 2px solid #0e0e0e;
    margin: 0.4em;
    cursor: pointer;
}

.btnDetail
{
    margin-left: 2.5em;
    &:hover,
    &:active {
        background-color: #7787ab;
    }
}

.btnRemove
{
    background: #b78383;

    &:hover,
    &:active {

        background:#c16767

    }
}



.movieFavorite {
	color: #262626;
	text-align: left;
	max-width: 28.0em;
	margin: 0 auto 2em;
	position: relative;
	box-sizing: border-box;
    background-color: #525763;
    border: 3px solid #181b1f;
   // border-radius: 0.3em;


	.inside {
		padding: 1.35em 1.75em 1.75em;
	}

	a {
		text-decoration: none;
	}

	h2 {
        font-size: inherit;
        line-height: 1.9em;
        margin: 0;
        text-align: center;
        color: #101010;
        border-bottom: 1px solid #4b4f58;
        padding-bottom: 0.5em;
	}

	.imgMovie {
		display: flex;
		align-items: center;
		flex-direction: row;
		/*justify-content: space-between;*/
		margin-top: 1.5em;
	}

	img {
		width: 10em;
		border: 1px solid #000000;
		border-radius: 0.3em;
        min-height: 15em;
	}



}

@media screen and (max-width: 600px) {

	.movieFavorite img {
		width: 13em;
		border: 1px solid #000000;
		border-radius: 0.3em;
		min-height: 18em;
	}

	.btnDetail{
		margin: 25px auto 15px;
	}

	.movieFavorite .imgMovie {
		align-items: center;
		flex-direction: column;
	}
}

